@model IEnumerable<BankIS.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalId)
        </th>
        <th>
            
        </th>
    </tr>

@for(var i = 0;i < Model.Count();i++) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.ElementAt(i).PersonalId)
        </td>
        <td>
            @Html.ActionLink("Add Service", "Create", "Service", new { id = Model.ElementAt(i).ID}, null)
            <a id="showServices">Show Services</a>
        </td>
    </tr>
    for(var j = 0; j <= Model.ElementAt(i).Services?.Count + 2; j++)
    {
        <tr>
            <td>
                    @Model.ElementAt(i).Services.ElementAt(j).Rate
                da
            </td>
        </tr>
    }
}
    </table>


<script>

    $(function () {
        for(var i = 0;i < Number(@Model.Count());i++)
        {
            $('#minimizedUser'+i+'').hide();
        }
           


        })
</script>